<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <header>

      <h1>Reverie Nedde</h1>
      <div class="center-contents">
        <nav class="navbar">
          <a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">WORKS</a>
          <a href="/about/" class="nav-link {% if page.url == '/about/' %}active{% endif %}">ABOUT</a>
        </nav>
      </div>
    </header>

    <main>
      <h4 style="text-transform: uppercase;">{{ title }}</h4>

      <!-- Default content block that can be overridden in specific pages -->
      {% block content %}
        <div class ="center-text center-contents">
          {{content | safe}}
        </div>
      {% endblock %}
    </main>

    <div class="contact">
      <h4>CONTACT</h4>
      <div class="contact-links">
        <a class="contact-link">rnedde at gmail dot com</a>
        <a class="contact-link"href="https://instagram.com/dejareverie" target="_blank" rel="noopener noreferrer">instagram</a>
        <a class="contact-link"href="https://www.linkedin.com/in/reverienedde/" target="_blank" rel="noopener noreferrer">linkedin</a>
        <a class="contact-link"href="https://github.com/rnedde" target="_blank" rel="noopener noreferrer">github</a>
        <a class="contact-link"href="https://www.are.na/re-ve/channels" target="_blank" rel="noopener noreferrer">are.na</a>

      </div>
    </div>

    <footer>
      <p>© 2025 Reverie Nedde</p>
      <p>
    This site was hand-coded and generated using
    <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a>
    and hosted on <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer">Vercel</a>.
    </p>
      <p>
    View this site's <a href="https://github.com/rnedde/Portfolio-Site" target="_blank" rel="noopener noreferrer">source code</a>.
  </p>
      <p>
    This page was <a href="https://jeffhuang.com/designed_to_last/" target="_blank" rel="noopener noreferrer">designed to last</a>.
  </p>
    </footer>
  </body>
</html>