<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8"/>
    <title>Reverie - {{ title }}</title>

    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>


  {% include "partials/header.njk" %}

    <main class="border-1">
      <h4>{{ title }}</h4>
      {% block content %}
        <div class ="work-links center-text center-contents">
          {{content | safe}}
        </div>
      {% endblock %}
    </main>

      {% if page.url == '/' %}
        {% include "partials/about-section.njk" %}
      
      {% endif %}

  {% include "partials/footer.njk" %}
    
    <script src="/assets/p5.min.js"></script>
    <script src="/assets/mousehover.js"></script>
    <script src="/assets/sparkle.js"></script>
    <script src="/assets/gradients.js"></script>
  </body>
</html>