<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8"/>
    <title>Reverie - {{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="icon" href="/images/favicon.png" type="image/png">

  </head>
  <body>

    <div class="two-column-layout">
      {% include "partials/sidebar.njk" %}

      <main class="main-content border-1">
        <h2>{{ title }}</h2>
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    <script src="/assets/scroll-sync.js"></script>
    <script src="/assets/router.js"></script>
    <script src="/assets/p5.min.js"></script>
    <script src="/assets/mousehover.js"></script>
    <script src="/assets/sparkle.js"></script>
    <script src="/assets/gradients.js"></script>
  </body>
  </html>