<div class="about-container border-2" id="about-section">
<h4>About</h4>
      <div class="about-block">

        <div class="about-text">
        <p>Hi, I'm Reverie.</p>
        <p>I'm an artist, creative technologist, and digital craftsperson.</p>
        <p>My work focuses on creating unexpected connections across mediums and finding new ways to share them.</p>        <p> I am currently based in New York City, and open to new opportunities, collaborations, and connections. </p>
        </div>
        
        <img src="assets/images/reverie.jpg" class="about-image border-5"alt="reverie image"/>
    </div>
    </div>
    </div>