<footer class="site-footer border-1">
  <div class="footer-content">
    <p>
      Made with <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a>,
      hosted on <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer">Vercel</a>.
      This site was <a href="https://jeffhuang.com/designed_to_last/" target="_blank" rel="noopener noreferrer">Designed to last</a>.
    </p>
    <p>
      Fonts: <a href="https://haskoy.ertekinn.com/?ref=uncut.wtf" target="_blank" rel="noopener noreferrer">Haskoy</a>,
      <a href="https://uncut.wtf/display/phosphene/" target="_blank" rel="noopener noreferrer">Phosphène</a>.
    </p>
    <p>
      <a href="https://themarkup.org/blacklight?url=reverienedde.com&device=mobile&location=us-ca&force=false" target="_blank">
        No data collection
      </a>.</p>
    <p class="copyright">Reverie Nedde 2026</p>
  </div>
</footer>