<footer>
        <!-- Contact Section -->
    <div class="contact border-2">
      <h4>Contact</h4>
      <div class="contact-links">
        <a class="contact-link">✉ rnedde at gmail dot com</a>
        <a class="contact-link" href="https://instagram.com/dejareverie" target="_blank" rel="noopener noreferrer">✩ instagram</a>
        <a class="contact-link" href="https://www.linkedin.com/in/reverienedde/" target="_blank" rel="noopener noreferrer">❤ linkedin</a>
        <a class="contact-link" href="https://github.com/rnedde" target="_blank" rel="noopener noreferrer">✨ github</a>
        <a class="contact-link" href="https://www.are.na/re-ve/channels" target="_blank" rel="noopener noreferrer">~ are.na</a>
        <a class="contact-link" href="https://reverienedde.notion.site/documentation?pvs=4x" target="_blank" rel="noopener noreferrer">➚ blog</a>
      </div>
    </div>
    <!-- Info Section -->
    <div class="info border-1">
      <h4>Reverie Nedde 2025</h4>
      <p>
        This site was hand coded using HTML, CSS, and JavaScript, generated using 
        <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a>, 
        and hosted on 
        <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer">Vercel</a>.
      </p>
      <p>
        This page is 
        <a href="https://jeffhuang.com/designed_to_last/" target="_blank" rel="noopener noreferrer">designed to last</a>.
      </p>
      <p>
        The fonts on this site were designed using a tool called 
        <a href="https://www.calligraphr.com/en/" target="_blank" rel="noopener noreferrer">calligraphr</a>.
      </p>
      <p>
        This site 
        <a href="https://themarkup.org/blacklight?url=reverienedde.com&device=mobile&location=us-ca&force=false" target="_blank">
          does not collect your data
        </a>.
      </p>

      <div class="footer-badges center-contents">
        <a href="https://32bit.cafe/"><img src="/assets/images/buttons/32b.gif" alt="32bit Cafe"></a>
        <a href="https://www.11ty.dev/"><img src="/assets/images/buttons/11ty.gif" alt="Eleventy"></a>
        <a href="https://melonland.net/"><img src="/assets/images/buttons/melonland.gif" alt="Melonland"></a>
        <iframe 
          src="//incr.easrng.net/badge?key=dejareverie" 
          style="background: url(//incr.easrng.net/bg.gif)" 
          title="increment badge" 
          width="88" 
          height="31" 
          frameborder="0">
        </iframe>
      </div>
    </div>
</footer>
