<header class="border-1">

      <h1>Reverie Nedde</h1>
          <nav class="navbar">
        <a href="/" class="nav-link works-link {% if page.url == '/' %}active{% endif %}">WORKS</a>
        <a href="/#about-section" class="nav-link about-link {% if page.url == '/about/' %}active{% endif %}">ABOUT</a>
        <a href="https://reverienedde.notion.site/documentation?pvs=4x" class="nav-link blog-link">BLOG➚</a>
      </nav>

    </header>